@using PAUP_kino_.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="~/stilovi/Pocetna.css" type="text/css" media="all" />
</head>
<body class="pozadina">
    <img class="prvaSlika" src="~/slike/Joker.png" alt="slika" />
    <br />
    <div class="container">
        <div class="box">
            @Html.ActionLink("Prijavi se", "Prijava")
        </div>

        
       

    </div>

</body>
</html>



